.product-card {
  max-width: 600px;

  &-image {
    object-fit: cover;
  }
  & .add-to-cart-btn {
    overflow: auto;
    height: 36px;
    font-size: 12px;
  }
  & .add-wishlist {
    height: 36px;
    font-size: 12px;
  }
  & .add-wishlist {
    width: 40px;
  }
  & .add-to-cart-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
