@import "@/styles/_variables";

.home-page {
    & .learn-more-btn {
        border: 2px solid #eee;
        padding: 4px 20px;
        background: $primary-color;
        border-radius: 4px;
        color: #fff;
        margin-right: 8px;
    }
    & .purchase-btn {
        padding: 4px 20px;
        background: #EEEEEE;
        border-radius: 4px;
        color: $primary-color;
        border: none;
        outline: none;
    }
}