@import "@/styles/_variables";

.login-page {
    background-color: $primary-color;
    min-height: 100vh;
    & .form-wrapper {
        border-radius: 20px;
        background-color: #fff;
        max-width: 400px;
    }

}