@import "@/styles/_variables";

.sidebar-menu {
  min-height: 100vh;
  background-color: transparent;
  &:not(.el-menu--collapse) {
    width: 300px;
  }

  &.mobile {
    border: none;
    &:not(.el-menu--collapse) {
      width: 100% !important;
    }
  }

  &.el-menu {
    & .el-menu-item {
      font-size: 16px;
    }

    .el-submenu {
      &__title {
        font-size: 16px;
      }
      .el-menu {
        &-item-group__title {
          padding: 0;
        }
      }
    }
  }
}
